<ion-view hide-back-button="false" title="Login" hide-nav-bar="false" >
  <ion-content class="has-header">
  
	<form name="form_login" ng-submit="doLogin(userLogin)" novalidate>
	  	<div class="list">
		  
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" ng-model="$parent.userLogin.username" id="user_name" placeholder="Email">
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="text" ng-model="$parent.userLogin.password" id="user_pass" placeholder="Password">
		  </label>
		  
		</div>
		<div class="padding">
			<button type="submit" class="button button-block button-calm">Login</button>
		</div>
	 </form>

	 <div class="padding">
	 <div class="padding">
	    <button type="submit" class="button button-block button-calm" ui-sref="signup">Signup</button>
	 </div>
	 <div class="padding">
		<button type="submit" class="button button-block button-calm" ui-sref="reset">Forgot Password</button>
	 </div>	
	
  </ion-content>
</ion-view>